body {
	margin: 0;
	background-color: #FFFFFF;
	font-family: 'Orbitron', sans-serif;
	color: black;
	font-weight: 500;
	font-size: 15px;
}
header {
	background-color: #bababa;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#bigThumbnail {
	height: 500px;
	width: 500px;
}
#smallThumbnail {
	height: 200px;
	width: 1000px;
}
#powerTitle {
	font-family: 'Orbitron', sans-serif;
	color: black;
	font-size: 40px;
}
#switches {
	display: inline-block;
	border: 3px solid #babababa;
}
.smallImage {
	width: 100px;
	height: 100px;
}
.toggleTypes {
	display: flex;
	justify-content: center;
}
.switches {
	display: flex;
	align-content: center;
	justify-content: center;
}
.powerSelect {
	margin-right: 20px;
	margin-left: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px;
  border: 2px solid black; 
}
.switch input {
  display: none;
}
.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bababa;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider1:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked +.slider1 {
  background-color: #00FF00;
}

input:focus + .slider1 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bababa;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider2:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked +.slider2 {
  background-color: #0000ff;
}

input:focus + .slider2 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
