body{
	background-color: #E0E0E0;
	text-align: center;
}
nav{
	background-color: #E0E0E0;
	border-bottom: 1px solid #181818;
}
a{
	color: #181818;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}
table{
	margin-right: 15px;
	background-color: #F8F8F8;

}
a:hover{
	color: #8B1717;
}
#feedbackForm{
	padding: 50px;
}
.font-weight-normal{
	margin: 15px;
}
.active{
	font-weight: bolder;
	color: #8B1717;
	border-bottom: 2px solid black;
}
.display-4{
	font-size: 3rem;
}
.jumbotron{
	padding: 2rem;
	margin: 0px;
	border-bottom: 1px solid #181818;
	background-color: #F8F8F8;
}
.card{
	border-radius: 15px;
}
.card-img-top{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.card-text{
	font-weight: lighter;
}
.card-deck{
	margin: 20px 10px 20px 10px;
}
.processLinks{
	color: #8B1717;
	font-family: inherit;
	font-size: inherit;
}
.table-bordered{
	border: 1px solid black;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid black;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid black;
}