body{
	margin: 0;
}
header{
	border-bottom: 3px solid black;
	display: flex;
	justify-content: center;
	padding: 15px;
}
.categoryLinks{
	color: black;
	font-size: 30px;
	font-family: 'Slabo 27px', serif;
	text-decoration: none;
	font-weight: bold;
}
.subCategoryLinks{
	color: black;
	font-size: 20px;
	font-family: 'Slabo 27px', serif;
	text-decoration: none;
}
.thumbnails{
	height: 10px;
}
#navigation{
	display: inline-block;
	background-color: white;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	padding: 15px;
}
#contentContainer{
	display: flex;
	margin: 0;
}
#homeTitle{
	margin-top: 20px;
	margin-left: 20px;
	font-family: 'Slabo 27px', serif;
	font-size: 50px;
}