body{
	background-color: black;
	color: white;
}
p{
	display: inline;
}
#playerContainer{
	border: 2px solid white;
}
#computerContainer{
	border: 2px solid white;
}
#eventLog{
	border: 2px solid white;
}
#resetButton{
	background-color: red;
}
.diceFaces{
	width: 150px;
}